.articulos{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.articulos__individuales{
    margin: 0 30px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Merriweather Sans', sans-serif;;
}
.articulos__titulo{
    grid-column: 1/6;
    margin-bottom: 50px;
}
.contadorStock__mas, .contadorStock__menos{
    width: 20px;
    margin: 10px;
}
.contadorStock__valor{
    border: none;
    text-align: center;
    width: 30px;
}
.buttonVer{
    text-align: center;
    width: 90px;
}